h1 {
  margin-bottom: 10px;
}
.subtitle {
  font-size: 26pt;
}
h2 {
  margin-bottom: 20px;
  clear: both;
}

#display {
  font-size: 30pt;
  text-align: center;
  min-height: 1.2em;
  line-height: 1.2;
  margin: 2em 0;
}

#tone-editor {
  display: flex;
  justify-content: center;
}
#tone-track {
  min-height: 50vh;
  flex-grow: 0;
  min-width: 2rem;
  position: relative;
  background: linear-gradient(to bottom, #30c928 0%,#fff72b 33%,#ff952b 67%,#ff2b2b 100%);
  border-radius: 2rem;
}
#tone-thumb {
  position: absolute;
  width: 4rem;
  left: -1rem;
  min-height: 1rem;
  background: blue;
  border-radius: 1rem;
  text-align: center;
  color: white;
  font-size: 9pt;
  font-weight: bold;
  padding: 0.2rem 1rem;
}