h1 {
  margin-bottom: 10px;
}
.subtitle {
  font-size: 26pt;
}
h2 {
  margin-bottom: 20px;
  clear: both;
}

#display {
  font-size: 30pt;
  text-align: center;
  min-height: 1.2em;
  line-height: 1.2;
  margin: 2em 0;
}

#display span.highlight {
  color: blue;
}

.hover-button {
  padding: 0.6rem;
  font-size: 20pt;
  border: 1px solid gray;
  border-radius: 0.1rem;
  margin: 0.2em;
  text-align: center;
  background: white;
}
.hb-dwell {
  animation: hb-dwell 400ms linear;
}
.hb-success {
  animation: hb-success 300ms linear;
}

@keyframes hb-dwell {
  0% {
    box-shadow: inset 0 0 0 0 blue;
  }
  100% {
    box-shadow: inset 0 0 5px 5px blue;
  }
}
@keyframes hb-success {
  0% {
    background: blue;
  }
  50% {
    background: white;
  }
  100% {
    background: white;
  }
}