#keyboard {
  margin: 1em 0;
}
.keyboard-row {
  display: flex;
  justify-content: center;
}
.keyboard-key {
  box-sizing: border-box;
  flex-grow: 0;
  min-width: 8%;
}
.keyboard-key-space {
  min-width: 40%;
}